<div *ngIf="actions" class="actions">
  <button *ngFor="let action of actions" mat-raised-button color="primary"
          (click)="onActionClick(action)"
          [disabled]="actionRunning[action.action]"
          id="action-{{action.action}}">
    {{action.action}}
  </button>
</div>
